<img src="https://hrdc.unipune.ac.in/img/slides/flexslider/hrdc10.jpg" class="w-screen" alt="Home photo" />

<app-container>
  <h1 class="text-center text-2xl sm:text-3xl">
    Welcome to University of Pune
  </h1>
  <br />
  <div style="padding: 10px; width: 100%;">
    <div style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold;">
      <table border="0" width="100%">
        <tbody><tr>
          <td valign="top">
          <p><b>
          <font color="#366D6D" face="Verdana" size="3">
          About Savitribai 
          Phule Pune 
          University</font></b>
          </p>
          <hr align="left" color="#BCECF2" width="95%">
          <div>
            <div style="color: rgb(32, 65, 133); font-weight: bold; font-family: Arial,Helvetica,sans-serif;">
              <p align="justify" style="margin-right: 15px">
              <font color="#000000" face="Verdana">
              <span style="font-size: 8pt; font-weight: 400">
              <img align="right" alt="University" border="0" height="197" hspace="6" src="http://www.unipune.ac.in/uop_files/pictures/university.jpg" width="324"> 
              Pune is 
              the main 
              educational 
              center 
              of 
              Maharashtra. 
              Numerous 
              students 
              from 
              every 
              corner 
              of India 
              and the 
              world 
              come to 
              Pune. It 
              is quite 
              safe and 
              peaceful 
              city as 
              compared 
              to other 
              educational 
              centers 
              in 
              India. 
              The 
              climate 
              of Pune 
              is 
              pleasant 
              and good 
              for 
              health. 
              The city 
              of Pune 
              houses 
              many 
              well-known, 
              established 
              institutes 
              and 
              colleges.
              </span>
              <span style="font-size: 8pt">
              Savitribai 
              Phule 
              Pune 
              University</span><span style="font-size: 8pt; font-weight: 400"> 
              is one 
              of the 
              finest 
              and most 
              popular 
              educational 
              centers 
              in the 
              city. It 
              offers 
              excellent 
              programs 
              in 
              various 
              areas 
              including 
              Science, 
              Commerce, 
              Arts, 
              Languages 
              and 
              Management 
              Studies.<br>
              <br>
              </span>
              <font style="font-size: 8pt">
              <span style="font-size: 8pt">
              About 
              Savitribai 
              Phule 
              Pune 
              University</span></font><font style="font-size: 8pt; font-weight: 400">
              <span style="font-size: 8pt; font-weight: 400">
              <br><br>
              </span>
              </font>
              <span style="font-size: 8pt">
              <font style="font-size: 8pt">
              Savitribai 
              Phule 
              Pune 
              University</font></span><span style="font-size: 8pt; font-weight: 400"><font style="font-size: 8pt; font-weight: 400">, 
              one of 
              the 
              premier 
              universities 
              in 
              India, 
              is 
              positioned 
              in the 
              North-western 
              part of 
              Pune 
              city. It 
              occupies 
              an area 
              of about 
              411 
              acres. 
              It was 
              established 
              on 10th 
              February, 
              1949 
              under 
              the 
              Poona 
              University 
              Act. The 
              university 
              houses 
              46 
              academic 
              departments. 
              It is 
              popularly 
              known as 
              the 
              'Oxford 
              of the 
              East'. 
              It has 
              about 
              307 
              recognized 
              research 
              institutes 
              and 612 
              affiliated 
              colleges 
              offering 
              graduate 
              and 
              under-graduate 
              courses.
              <br><br>
              The 
              university 
              attracts 
              many 
              foreign 
              students 
              due to 
              its 
              excellent 
              facilities. 
              It 
              offers 
              good 
              accommodation 
              facility. 
              There is 
              a 
              provision 
              of 
              hostel 
              for the 
              students. 
              There is 
              a 
              well-stocked 
              library 
              containing 
              plenty 
              of books 
              regarding 
              various 
              subjects. 
              The 
              university 
              offers 
              different 
              scholarships 
              to the 
              students. 
              The 
              university 
              conducts 
              seminars 
              and 
              conferences 
              for the 
              students.</font></span></font></p>
              <p>
              <font color="#005856" face="Verdana" style="font-size: 8pt">
              University 
              at a 
              glance</font></p>
              <table border="0" bordercolor="#000066" bordercolordark="#000000" bordercolorlight="#000066" cellpadding="2" cellspacing="0" height="77" style="border-collapse: collapse" width="98%">
                <tbody><tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font face="Verdana" style="font-size: 8pt">Date of Establishment&nbsp; :</font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">10th February, 1949.</font></td>
                </tr>
                <tr>
                  <td align="left" height="13" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="13" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp; </font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Location&nbsp;&nbsp; : </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">Ganeshkhind Road,&nbsp; Pune, Maharashtra, India.</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Website address&nbsp; :</font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><a href="http://www.unipune.ac.in" target="_top"><font color="#000000" face="Verdana" style="font-size: 8pt">http://www.unipune.ac.in</font></a></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Total area of the campus&nbsp; :</font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">411 Acres.</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">First Vice-Chancellor&nbsp; : </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">Dr. M. R. Jayakar.</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Chancellor&nbsp; :</font></b></td>
                  <!--<td WIDTH="49%" BGCOLOR="#EFFCFC" height="19" align="left" style="padding-left: 15px">
<font face="Verdana" style="font-size: 8pt">Shri Chennamaneni Vidyasagar Rao</font></td>
-->
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">Shri. Ramesh Bais</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" style="padding-left: 15px; height: 19px;" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Vice -Chancellor&nbsp; : </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" style="padding-left: 15px; height: 19px;" width="49%"><font face="Verdana"><span style="font-size: 8pt">Prof. (Dr.) </span></font><span class="auto-style1"><!--Karbhari Vishwanath Kale--> Suresh Gosavi</span></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Registrar&nbsp; : &nbsp;&nbsp; </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">Dr. </font>
                  <!--<span class="auto-style1">Arvind.D.Shaligram</span>--><span class="auto-style1">Prafulla A. Pawar</span> </td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="1" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Number of Academic&nbsp; Departments&nbsp; : </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="1" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">46</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="18" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Jurisdiction&nbsp; : &nbsp;</font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="18" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">Ahmednagar, Nasik, Pune.</font></td>
                </tr>
                <tr>
                  <td align="left" height="18" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="18" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="18" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Number of Colleges affiliated&nbsp; : &nbsp;&nbsp;&nbsp; </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="18" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">705</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" style="padding-left: 15px; height: 19px;" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Recognized Institutes&nbsp; : &nbsp; </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" style="padding-left: 15px; height: 19px;" width="49%"><font face="Verdana" style="font-size: 8pt">234</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" style="padding-left: 15px; height: 19px;" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Research Institutes&nbsp; : &nbsp; </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" style="padding-left: 15px; height: 19px;" width="49%"><font face="Verdana" style="font-size: 8pt">71</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="1" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Teachers in the University Departments&nbsp; :</font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="1" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">293</font></td>
                </tr>
                <tr>
                  <td align="left" height="12" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="12" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="19" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Faculties&nbsp; : &nbsp; </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="19" width="49%" class="auto-style2">04</td>
                </tr>
                <tr>
                  <td align="left" height="1" style="padding-left: 15px" width="44%"><font color="#354422" face="Verdana" style="font-size: 8pt"><b>&nbsp;</b></font></td>
                  <td align="left" height="1" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">&nbsp;</font></td>
                </tr>
                <tr>
                  <td align="left" bgcolor="#EFFCFC" height="11" style="padding-left: 15px" width="44%"><b><font color="#354422" face="Verdana" style="font-size: 8pt">Books &amp; Journals in the University of Pune Jayakar Library : </font></b></td>
                  <td align="left" bgcolor="#EFFCFC" height="11" style="padding-left: 15px" width="49%"><font face="Verdana" style="font-size: 8pt">4,22000 approx. (Includes books, periodicals and&nbsp; other material)</font></td>
                </tr>
              </tbody></table>
              <!-- <p align="center"><iframe width="450" height="350" src="https://www.youtube.com/embed/jaXKiE_wu3w"  frameborder="0" allowfullscreen class="auto-style8"></iframe>
</p>
<p>&nbsp;</div>
</div></td>
--></div>
          </div>
          </td>
        </tr>
        
      </tbody></table>
  </div>
  
</div>
</app-container>
